<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/detalle-centro',ide]">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveData(ide,latlng2,place)">
        <ion-icon slot="icon-only" name="save" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add a campaign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item (click)="goToMap(ide,latlng)">
    <ion-label position="floating">Place</ion-label>
    <ion-input [(ngModel)]="place" placeholder="Choose the place" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">schedule</ion-label>
    <ion-textarea [(ngModel)]="schedule" placeholder="Example: Monday 10:00-13:00 - Friday 11:00:14:00"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input [(ngModel)]="phone" type="phone"></ion-input>
  </ion-item>
  <div class="ion-text-center">
    <h4>Materials</h4>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items" >
      <ion-icon slot="start" src={{item.img}}></ion-icon>
      <ion-label>{{item.valor}}</ion-label>
      <ion-checkbox [(ngModel)]="item.selected" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
