<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>EcoWorld</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item (click)="click('/pagina-principal')">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item (click)="click('/pagina-reciclaje')">
          <ion-icon name="bulb-outline" slot="start"></ion-icon>
          <ion-label>Centros de campaña</ion-label>
        </ion-item>
        <ion-item (click)="click('/pagina-centros')">
          <ion-icon name="flag-outline" slot="start"></ion-icon>
          <ion-label>Mis centros</ion-label>
        </ion-item>
        <ion-item (click)="click('/pagina-enviar')">
          <ion-icon slot="start" src="https://image.flaticon.com/icons/svg/411/411760.svg"></ion-icon>
          <ion-label>Enviar material</ion-label>
        </ion-item>
        <ion-item (click)="click('/top')">
          <ion-icon name="medal-outline" slot="start"></ion-icon>
          <ion-label>Top</ion-label>
        </ion-item>
        <ion-item (click)="click('/profile')">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item (click)="click('/about')">
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
          <ion-label>Acerca de</ion-label>
        </ion-item>
        <ion-item (click)="click('/home')">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
