.centrar{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-toolbar{
  --background: #38d39f;
  --color: white;
}

ion-fab-button{
  --background: #38d39f;
  --color: white;
}

.center{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  align-items: baseline;
}