<ion-header no-border>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/','pagina-centros']">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/','agregar-centro']">
        <ion-icon slot="icon-only" name="build" style="color: white;"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/','pagina-centros']">
        <ion-icon slot="icon-only" name="save" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Campaign transaction</ion-title>
  </ion-toolbar>
  <ion-searchbar animated inputmode="numeric" placeholder="Search by id" (ionChange)="buscar($event)">
  </ion-searchbar>
</ion-header>
<ion-content>
  <!--<div *ngIf="encontrado">
    <ion-avatar style="margin: auto;">
      <img src="assets/images/frown.svg">
    </ion-avatar>
    <div class="ion-text-center">
      <h6>Not found</h6>
    </div>
  </div>-->
  <div *ngIf="encontrado">
    <ion-card>
      <h5 class="ion-text-center">User</h5>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://randomuser.me/api/portraits/men/40.jpg">
        </ion-avatar>
        <ion-label>
          <h3>702550647</h3>
          <p>John Brinx</p>
        </ion-label>
      </ion-item>
      <h5 class="ion-text-center" style="color: #22bb33;">Add points</h5>
      <ion-item>
        <ion-label position="floating">Plastic</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Aluminum</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paper</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tetra pack</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Glass</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Battery</ion-label>
        <ion-input type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
