<ion-header no-border>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/','pagina-centros']">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/actualizarCentro',ide]">
        <ion-icon slot="icon-only" name="build" style="color: white;"></ion-icon>
      </ion-button>
      <ion-button (click)="updateData(puntosUsuario,encontrado)">
        <ion-icon slot="icon-only" name="save" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Transacción de reciclaje</ion-title>
  </ion-toolbar>
  <ion-searchbar animated inputmode="numeric" placeholder="Buscar por id" (ionChange)="buscar($event)">
  </ion-searchbar>
</ion-header>
<ion-content>
  <div *ngIf="noEncontrado">
    <ion-avatar style="margin: auto;">
      <img src="assets/images/frown.svg">
    </ion-avatar>
    <div class="ion-text-center">
      <h6>No encontrado</h6>
    </div>
  </div>
  <div *ngIf="encontrado">
    <ion-card>
      <h5 class="ion-text-center">Usuario</h5>
      <ion-item>
        <ion-avatar slot="start">
          <img (click)="openImage(usuario.urlFoto)" src={{usuario.urlFoto}}>
        </ion-avatar>
        <ion-label>
          <h3>{{usuario.id}}</h3>
          <p>{{usuario.nombre}} {{usuario.apellido}}</p>
        </ion-label>
      </ion-item>
      <h5 class="ion-text-center" style="color: #22bb33;">Añadir puntos</h5>
      <ion-item>
        <ion-label position="floating">Plástico</ion-label>
        <ion-input [(ngModel)]="plastico" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Aluminio</ion-label>
        <ion-input [(ngModel)]="aluminio" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Papel</ion-label>
        <ion-input [(ngModel)]="papel" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tetra pack</ion-label>
        <ion-input [(ngModel)]="tetra" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vidrio</ion-label>
        <ion-input [(ngModel)]="vidrio" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Batería</ion-label>
        <ion-input [(ngModel)]="bateria" type="number" placeholder="0 (kg)"></ion-input>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
