<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding-top">
    <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{opcion}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="filterNews('All')">Todas las noticias</a>
        <a class="dropdown-item" (click)="filterNews('Nacionales')">Nacionales</a>
        <a class="dropdown-item" (click)="filterNews('Internacionales')">Internacionales</a>
        <a class="dropdown-item" (click)="filterNews('Consejos')">Consejos</a>
      </div>
    </div>
  </div>
  <ion-spinner name="circles" *ngIf="spinner" style="margin: auto; display: block;color: #32be8f; margin-top: 4%;"></ion-spinner>
    <ion-card *ngFor="let i of listNews" (click)="goToPage(i.fuente)">
      <ion-item no-lines >
        <ion-avatar slot="start">
          <img src={{i.fotoEmpresa}}>
        </ion-avatar>
        <ion-label>
          <h3><strong>{{i.nombreEmpresa}}</strong></h3>
          <p><strong>{{i.fecha}}</strong></p>
        </ion-label>
      </ion-item>
      <img src={{i.fotoNoticia}} alt="ion" style="display:block;margin:auto;">
      <ion-card-header>
        <ion-card-title>{{i.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{i.miniDescripcion}}</ion-card-content>
    </ion-card>
    <ion-fab *ngIf="hide" vertical="bottom" horizontal="end" slot="fixed">  
      <ion-fab-button (click)="presentAlertPrompt()">  
        <ion-icon name="add"></ion-icon> 
      </ion-fab-button>  
    </ion-fab>
</ion-content>
