<ion-header no-border>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner name="circles" *ngIf="spinner"></ion-spinner>
    <ion-card *ngFor="let i of listNews" [routerLink]="['/detalleN',i.key]">
      <ion-item no-lines color="success">
        <ion-avatar slot="start">
          <img src={{i.fotoEmpresa}}>
        </ion-avatar>
        <ion-label>
          <h3><strong>{{i.nombreEmpresa}}</strong></h3>
          <p><strong>{{i.fecha}}</strong></p>
        </ion-label>
      </ion-item>
      <img src={{i.fotoNoticia}} alt="ion" style="display:block;margin:auto;">
      <ion-card-header>
        <ion-card-title>{{i.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{i.miniDescripcion}}</ion-card-content>
    </ion-card>
</ion-content>
