<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/','pagina-principal']">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="listNew">
  <ion-item>
    <ion-label>
      <h2>{{listNew.titulo}}</h2>
      <p>{{listNew.fecha}}</p>
    </ion-label>
  </ion-item>
  <div style="margin: auto;">
    <ion-img src={{listNew.fotoNoticia}}></ion-img>
  </div>
  <p>{{listNew.descripcion}}</p>
  <p>Fuente: <a (click)="openLink(listNew.fuente)">{{listNew.fuente}} </a></p>
</ion-content>
