<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save(latlng)">
        <ion-icon slot="icon-only" name="checkmark" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Choose the place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myClass2">
    <div id="mapa-mapbox2"></div>
  </div>
</ion-content>
