<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar style="margin: auto;">
    <img (click)="openImage()" [src]="image" *ngIf="image">
  </ion-avatar>
  <div class="ion-text-center">
    <h5 (click)="presentPopover($event)">Change photo</h5>
  </div>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input [(ngModel)]="id" type="number" value="702550647" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" type="text" value="Jean Paul"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]="lastName" type="text" value="Barrit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" value="jpbr25@yahoo.com"></ion-input>
    </ion-item>
    <ion-item>
      <!--<ion-label position="floating">Password</ion-label>
      <ion-input type="password" value="12345"></ion-input>
      <ion-input [type]="getType()" [(ngModel)]="password"></ion-input>
      <ion-icon name="eye" item-right (click)="toggleTextPassword()"></ion-icon>-->
      <ion-input [(ngModel)]="password" placeholder="Password" type={{type}}></ion-input>
      <ion-icon name={{nameIcon}} slot="end" color="medium" (click)="showPass()"></ion-icon>
    </ion-item>
    <ion-button (click)="updateData()" style="margin-top: 7%;"color="success" class="ion-button-class" shape="block" fill="solid" size="large" expand="block">
      SAVE
    </ion-button>
  </ion-card>
  <ion-card>
    <div class="ion-text-center">
      <h5>Information</h5>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon slot="start" src={{item.img}}></ion-icon>
        <ion-label>{{item.valor}}</ion-label>
        <ion-label style="position:absolute;right:0;" class="ion-padding-end">{{item.cant}} kg</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
