<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToSearchUser()">
        <ion-icon *ngIf="search" slot="icon-only" name="people" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar style="margin: auto;">
    <img (click)="openImage()" [src]="image" *ngIf="image">
  </ion-avatar>
  <div class="ion-text-center">
    <h5 (click)="presentPopover($event)">Cambiar foto</h5>
  </div>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input [(ngModel)]="id" type="number" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email" type="email" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="Contraseña" type={{type}}></ion-input>
      <ion-icon name={{nameIcon}} slot="end" color="medium" (click)="showPass()"></ion-icon>
    </ion-item>
    <ion-button (click)="updateData()" color="success" style="margin-top: 2%;" shape="block" fill="solid" expand="block" id="btn">
      Guardar 
    </ion-button>
  </ion-card>
  <ion-card>
    <div class="ion-text-center">
      <h5>Materiales reciclados</h5>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon slot="start" src={{item.img}}></ion-icon>
        <ion-label>{{item.valor}}</ion-label>
        <ion-label style="position:absolute;right:0;" class="ion-padding-end">{{item.cant}} kg</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
