<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Top</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner name="circles" *ngIf="spinner" style="margin: auto; display: block;color: #32be8f; margin-top: 4%;"></ion-spinner>
  <ion-card *ngFor="let i of listUsers; let j = index">
    <ion-item>
      <div class="container">
        <div class="container">
          <h2>{{j+1}}</h2>
        </div>
        <div class="container" class="ion-padding-start" (click)="getTotal(i.reciclado)">
          <p>{{i.nombre}} {{i.apellido}}</p>
        </div>
      </div>
      <ion-avatar slot="end">
        <img  (click)="openImage(i.urlFoto)" src={{i.urlFoto}}>
      </ion-avatar>
    </ion-item>
  </ion-card>
</ion-content>
