<ion-header no-border>
  <!--<div class="login-header ion-padding">
    <img class="logo-img" src="assets/images/trash.svg">
  </div>-->
</ion-header>
<ion-content>
  <div class="center">
    <div class="hijo">
      <div style="margin: auto;">
        <img class="logo-img" src="assets/images/trash.svg">
      </div>
      <div class="ion-text-center">
        <h2><strong>EcoWorld</strong></h2>
      </div>
      <ion-item transparent>
        <ion-icon name="person" color="medium"></ion-icon>
        <ion-input [(ngModel)]="user" placeholder="Username" type="text" ion-padding></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="lock-closed" color="medium"></ion-icon>
        <ion-input [(ngModel)]="pass" placeholder="Password" type="Password"></ion-input>
      </ion-item>
      <ion-label class="forget-password">Forget password</ion-label>
      <div linespace></div>
      <ion-button id="btn" expand="block" (click)="login()"><strong>LOGIN</strong></ion-button>
      <ion-label style="margin-top: 5%;" class="ion-text-center">
        <u (click)="register()">Don´t have account? Sign up</u>
      </ion-label>
    </div>
  </div>
</ion-content>