<ion-header no-border>
</ion-header>
<ion-content>
  <div class="center">
    <div class="hijo">
      <div style="margin: auto;">
        <img class="logo-img" src="assets/images/trash.svg">
      </div>
      <div class="ion-text-center">
        <h2><strong>EcoWorld</strong></h2>
      </div>
      <ion-item transparent>
        <ion-icon name="person" color="medium"></ion-icon>
        <ion-input [(ngModel)]="email" type="email" placeholder="Correo" type="text" ion-padding></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="lock-closed" color="medium"></ion-icon>
        <ion-input [(ngModel)]="password" placeholder="Contraseña" type={{type}}></ion-input>
        <ion-icon name={{nameIcon}} slot="end" color="medium" (click)="showPass()"></ion-icon>
      </ion-item>
      <ion-label *ngIf="forget" class="forget-password" (click)="presentPrompt()" >Forget password</ion-label>
      <div linespace></div>
      <ion-button id="btn" expand="block" (click)="login()" [disabled]="buttonDisabled">
        {{textBtn}}
        <ion-spinner name="circles" *ngIf="spinner"></ion-spinner>
      </ion-button>
      <ion-label style="margin-top: 5%;" class="ion-text-center">
        <u (click)="register()">No tiene cuenta? Registrese</u>
      </ion-label>
    </div>
  </div>
</ion-content>