.caja{ 
  top: 20%; /* Buscamos el centro horizontal (relativo) del navegador */
  margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
  margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

.login-header{
  background:#00FA9A;// #00FF7F;
}
.login-header{
  position: relative;
  background: #00FA9A;;
  border-radius: 0em;
}

.login-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00FA9A;;
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}

.logo-img{
  display: block;
  width: 65px;
  margin: 0 auto;
  text-align: center;
}

[heading-column-lr]{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

[big-heading]{
  font-family: "Heebo-bold" !important;
  font-size: 30px !important;
  color: #000000;
}

[small-heading]{
  font-family: "Heebo-Regular" !important;
  margin-left: auto;
  padding-right: 40px; 
  font-size: 15px;
}

ion-label{
  color: #000000;
  opacity: .8;
  font-size: 13px;
  display: block;
}

ion-content{
  --background: #fafafa;
}

[transparent]{
  --background: transparent;
}

ion-input{
  --color: #000;
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 5px;
  font-size: 15px;
  text-indent: 1px;
  padding-left: 10px !important; 
}

[icon-small]{
  width: 30px;
}

ion-item{
  --highlight-color-focused: transparent;
  --highlight-height:0;
  --highlight-color-invalid: #000;
  --highlight-color-valid: #ddd;
  --min-height: 65px;
  --padding-start:0;
}

[linespace]{
  height: 30px;
}

ion-label{
  color:#000;
  opacity: .8;
  font-size: 13px;
  display: block;
}

.forget-password{
  color: #000;
  font-size: 13px;
  display: block;
  text-align: right;
  padding: 10px;
}

.center{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn{
  color:#fff;
  --background: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
/*.center{
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: (-49%,-49%);
  transform: translate(-49%,-49%);
  width: 90%;
}*/